@font-face { font-family: Quantico; src: url('/fonts/Quantico-Regular.ttf'); }

* {
	margin: 0;
}

body {
	margin: 0;
	margin-right: 0;
	background-image: url(http://www.westsoundacademy.org/templates/wsa/images/bg.jpg);
	background-attachment:fixed;
}
/*
#timeLeft {
	margin:0;
	padding:5px;
	text-align:right;
	background:#FF9933;
	border:solid 1px #c3c3c3;
}
*/
#timeLeft {
	position:fixed;
	width: 100px;
	top: 12%;
	right: 1%;
	color:black;
	font-family: 'Quantico', sans-serif;
	font-size: 3em;
	background-color:yellow;
	opacity: 0.8;
	position:fixed;
	border: 2px solid #a1a1a1;
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#progressbar .ui-progressbar-value {
    background-color: #ccc;
  }